# QFlow-RL P5 B1 I/O sanity constraints for Digilent Nexys 3 rev. B.
# Pin choices follow the Digilent Nexys 3 reference manual / master UCF.

NET "clk_100mhz" LOC = "V10" | IOSTANDARD = LVCMOS33;
NET "clk_100mhz" TNM_NET = "P5_B1_CLK";
TIMESPEC "TS_P5_B1_CLK" = PERIOD "P5_B1_CLK" 10 ns HIGH 50%;

NET "btn_reset" LOC = "B8" | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "led_heartbeat" LOC = "U16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_reset" LOC = "V16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "seg_n<0>" LOC = "T17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<1>" LOC = "T18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<2>" LOC = "U17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<3>" LOC = "U18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<4>" LOC = "M14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<5>" LOC = "N14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<6>" LOC = "L14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "seg_n<7>" LOC = "M13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "an_n<0>" LOC = "N16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "an_n<1>" LOC = "N15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "an_n<2>" LOC = "P18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "an_n<3>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "uart_tx" LOC = "N18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
